{% extends 'list.html' %}
{% load my_templatetags %}

{% block table-headers %}
    <th><i class="fa fa-pencil"></i> Szczegóły</th>
    <th><i class="fa fa-paw"></i> Pies</th>
    <th><i class="fa fa-user"></i> Właściciel</th>
    <th><i class="fa fa-calendar"></i> Data</th>
    <th><i class="fa fa-scissors"></i> Usługa</th>
    <th><i class="fa fa-check-square"></i> Odbyta?</th>
    <th><i class="fa fa-money"></i> Przyjęta zapłata</th>
    <th><i class="fa fa-book"></i> Notatki</th>
    <th><i class=" fa fa-edit"></i></th>
    <th></th>
{% endblock %}

{% block table-rows %}
    {% for visit in visits %}
        <tr>
            <td><a href="{% url 'visit-details' visit.id %}"> Szczegóły </a></td>
            <td>{{ visit.animal }}</td>
            <td>{{ visit.animal.owner }}</td>
            <td class="hidden-phone">{{ visit.start }}</td>
            <td>{{ visit.service }}</td>
            <td>{{ visit.happened|yesno:"Tak,Nie" }}
                {# TODO: Buttony naprawde zaznaczające czy wizyta sie odbyła   #}
                {% if visit.happened %} <button class="btn btn-theme02 btn-xs"><i class="fa fa-times "></i></button>
                {% else %}<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                {% endif %}</td>
            <td>{{ visit.money_taken }} zł</td>
            <td>{{ visit.notes }}</td>

            <td>
                <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}