{% extends 'details.html' %}
{% load static %}
{% block profile-header%}
    {% if animal.photo %}
    <img src="{{ animal.photo.url }}" class="img-circle" style="float: right; height:150px;" alt="profile-photo">
    {% else %}
    <img src="{% static 'img/dog.png' %}" class="img-circle" style="float: right; height:150px;" alt="profile-photo">
    {% endif %}
    <h1>{{ animal.name }}</h1>
    <h3><a href="{% url 'breed-details' animal.breed.id %}">{{ animal.breed }}</a></h3>
{% endblock %}

{% block details %}
    <p><span>Kolor:</span> {{ animal.color }}</p>
    <p><span>Płeć:</span> {{ animal.get_gender_display }}</p>
    <p><span>Notatki:</span>{{ animal.notes }}</p>
    <p><span>Właściciel:</span>
        <a href="{% url 'owner-details' animal.owner.id %}">{{ animal.owner }}</a>
    </p>
    <p>
        Ostatnia Wizyta:  {{ animal.get_last_visit }}</p>
    <p>Najbliższa Wizyta: {{ animal.get_next_visit  }}</p>
{% endblock %}