{% extends 'list.html' %}

{% block table-headers %}
    <th><i class="fa fa-user"></i>Imię i Nazwisko</th>
    <th><i class="fa fa-phone"></i>Numer telefonu</th>
    <th><i class="fa fa-envelope"></i>Email</th>
    <th><i class="fa fa-users"></i>Polecony przez</th>
    <th><i class=" fa fa-edit"></i></th>
    <th></th>
{% endblock %}

{% block table-rows %}
    {% for owner in owners %}
        <tr>
            <td><a href="/owners/{{ owner.id }}">{{ owner.full_name }}</a></td>
            <td>{{ owner.phone_number }}</td>
            <td>{{ owner.email }}</td>
            <td>{{ owner.recommended_by }}</td>
            <td><span class="label label-info label-mini">Due</span></td>
            <td>
                <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}