{% load static %}
{% load my_templatetags %}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="/"><img src="{% static "/img/logo-kolo.png" %}" class="img-circle"
                                                 width="120"></a></p>
            <h5 class="centered">Szykowny Pupil</h5>

            <li class="mt">
                <a class="{% active 'visit' %}" href="/visits">
                    <i class="fa fa-calendar"></i>
                    <span>Wizyty</span>
                </a>
            </li>

            <li class="sub-menu">
                <a class="{% active 'owner' %}" href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span>Właściciele</span>
                </a>
                <ul class="sub">
                    <li><a href="/owners/">Lista</a></li>
                    <li><a href="/owners/new/">Nowy</a></li>
{#                    <li><a href="panels.html">Panels</a></li>#}
                </ul>
            </li>

            <li class="sub-menu">
                <a class= "{% active 'animals' %}" href="javascript:;">
                    <i class="fa fa-paw"></i>
                    <span>Psy</span>
                </a>
                <ul class="sub">
                     <li><a href="/animals/">Lista</a></li>
                    <li><a href="calendar.html">Calendar</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="todo_list.html">Todo List</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="{% active 'breed' %}" href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Rasy</span>
                </a>
                <ul class="sub">
                    <li><a href="/breeds/">Lista</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="lock_screen.html">Lock Screen</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-tasks"></i>
                    <span>Forms</span>
                </a>
                <ul class="sub">
                    <li><a href="form_component.html">Form Components</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-th"></i>
                    <span>Data Tables</span>
                </a>
                <ul class="sub">
                    <li><a href="basic_table.html">Basic Table</a></li>
                    <li><a href="responsive_table.html">Responsive Table</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class=" fa fa-bar-chart-o"></i>
                    <span>Charts</span>
                </a>
                <ul class="sub">
                    <li><a href="morris.html">Morris</a></li>
                    <li><a href="chartjs.html">Chartjs</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->