{% load static %}
{% load my_templatetags %}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="/"><img src="{% static "/img/logo-kolo.png" %}" class="img-circle"
                                                 width="120"></a></p>
            <h5 class="centered">Szykowny Pupil</h5>

            <li class="sub-menu">
                <a class="{% active 'visits' %}" href="javascript:;">
                    <i class="fa fa-calendar"></i>
                    <span>Wizyty</span>
                </a>
                <ul class="sub">
                    <li><a href="{% url 'visits-list' %}">Lista</a></li>
                    <li><a href="/visits/new/">Nowy</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="{% active 'owner' %}" href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span>Właściciele</span>
                </a>
                <ul class="sub">
                    <li><a href="{% url 'owners-list' %}">Lista</a></li>
                    <li><a href="/owners/new/">Nowy</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a class="{% active 'animals' %}" href="javascript:;">
                    <i class="fa fa-paw"></i>
                    <span>Psy</span>
                </a>
                <ul class="sub">
                    <li><a href="{% url 'animals-list' %}">Lista</a></li>
                    <li><a href="/animals/new/">Nowy</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="{% active 'breed' %}" href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Rasy</span>
                </a>
                <ul class="sub">
                    <li><a href="{% url 'breeds-list' %}">Lista</a></li>
                    <li><a href="/breeds/new.">Nowa</a></li>
                </ul>
            </li>
            {#            <li class="sub-menu">#}
            {#                <a href="javascript:;">#}
            {#                    <i class="fa fa-tasks"></i>#}
            {#                    <span>Forms</span>#}
            {#                </a>#}
            {#                <ul class="sub">#}
            {#                    <li><a href="form_component.html">Form Components</a></li>#}
            {#                </ul>#}
            {#            </li>#}
            {#            <li class="sub-menu">#}
            {#                <a href="javascript:;">#}
            {#                    <i class="fa fa-th"></i>#}
            {#                    <span>Data Tables</span>#}
            {#                </a>#}
            {#                <ul class="sub">#}
            {#                    <li><a href="basic_table.html">Basic Table</a></li>#}
            {#                    <li><a href="responsive_table.html">Responsive Table</a></li>#}
            {#                </ul>#}
            {#            </li>#}
            {#            <li class="sub-menu">#}
            {#                <a href="javascript:;">#}
            {#                    <i class=" fa fa-bar-chart-o"></i>#}
            {#                    <span>Charts</span>#}
            {#                </a>#}
            {#                <ul class="sub">#}
            {#                    <li><a href="morris.html">Morris</a></li>#}
            {#                    <li><a href="chartjs.html">Chartjs</a></li>#}
            {#                </ul>#}
            {#            </li>#}

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->